#mantis-feedback-form {
  padding: 0;
}
.custom-select {
  border: 1px solid #d7d0c8 !important;
  border-radius: 3px;
  background-color: #f5f3f1;
  outline: none;
  position: relative;
  padding: 4px 7px !important;
  height: 32px;
  line-height: 1.25;
  overflow: hidden;
  white-space: nowrap;
  width: 154px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-select .select-button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 18px;
  width: 32px;
  overflow: hidden;
  border-left: 1px solid #d7d0c8;
  background-color: #f3f3f3;
  color: #464223;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  cursor: default;
}
#mantis-feedback-form-issue select {
  width: 155px;
}
#mantis-feedback-form-notes-new {
  clear: left;
}
#mantis-feedback-form-issue label,
#mantis-feedback-form-notes-new label {
  font-size: 14px !important;
  font-weight: normal;
  margin: 10px 0;
}
#mantis-feedback-form-issue .form-item-issue-summary.shown {
  margin-top: 0px;
}
#mantis-feedback-form-issue .form-item-issue-summary input {
  font-size: 16px;
}
#mantis-feedback-form-issue .form-item {
  border-bottom: 1px dotted #d8d0c7;
  padding: 4px 10px;
}
#mantis-feedback-form-issue .form-item-issue-summary {
  padding-right: 30px;
}
#mantis-feedback-form-issue .form-type-select label {
  width: 145px;
  float: left;
  margin-top: 6px;
}
#mantis-feedback-form-issue .form-submit {
  margin: 10px 10px 10px 0;
}
#mantis-feedback-form-notes-new label {
  margin: 10px 0;
}
@media screen and (max-width: 640px) {
  .feedback-modal {
    max-width: 100%;
    margin: 0 auto;
    left: 0;
    top: 20%;
    box-sizing: border-box;
  }
}
