#mantis-feedback-wrapper *,
body.feedback-full-screen * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  line-height: 18px;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans' !important;
  text-transform: none;
  color: #47421F;
}
#mantis-feedback-wrapper p,
body.feedback-full-screen p {
  margin: 0 0 20px;
}
#mantis-feedback-wrapper a,
body.feedback-full-screen a {
  display: inline;
  color: rgb(57, 187, 212);
}
#mantis-feedback-wrapper a:hover,
body.feedback-full-screen a:hover,
#mantis-feedback-wrapper a:focus,
body.feedback-full-screen a:focus {
  background: none;
  text-decoration: underline;
}
#toggle-opener {
  position: fixed;
  left: auto;
  top: 0;
  margin: 0;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 10000;
  overflow: hidden;
}
#push-menu-toggle {
  background: transparent;
  display: block;
  width: 50px;
  height: 50px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  position: absolute;
  top: -25px;
  right: -25px;
}
#mantis-feedback-wrapper {
  background: #f5f3f1;
  width: 470px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  box-shadow: inset 3px 0 9px -5px rgba(0,0,0,0.7);
}
.cbp-spmenu-right {
  right: -470px;
}
.push-body-toleft {
  left: -470px;
}
.mantis-feedback-left {
  height: 90px;
  float: left;
}
.mantis-feedback-right {
  height: 90px;
  float: left;
  padding-top: 25px !important;
}
.mantis-feedback-site-name {
  display: block;
  font-size: 15px;
}
#mantis-feedback {
  background: white;
  margin: 10px;
  border: 1px solid #d6cfc7;
  height: calc(100% - 20px);
  overflow: scroll;
}
#mantis-feedback .item-list {
  clear: left;
}
#mantis-feedback-issue-list {
  padding-left: 0;
}
#mantis-feedback-issue-list li {
  border-top: 1px dotted #d8d0c7;
  list-style: none;
  padding: 15px 10px;
  margin: 0;
}
#mantis-feedback-issue-list a {
  color: #464223;
  border: none;
  display: block;
}
#mantis-feedback-issue-list a:hover,
#mantis-feedback-issue-list a:focus {
  background: none;
}
.page-mantis-feedback-form .content {
  margin: 0;
}
body.feedback-full-screen {
  width: 100% !important;
}

/**
 * Feedback plugin.
 */
.feedback-footer {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: auto;
  padding: 0 12px 12px 12px !important;
}

.feedback-modal {
  -webkit-transition: all .2s ease 0s;
  -moz-transition: all .2s ease 0s;
  -ms-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background: #f5f3f1;
  font-style: normal;
  font-weight: 400;
  color: #474220;
}
.feedback-modal.custom-modal {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  max-height: 100%;
  top: 300px;
  width: 670px;
}

.modal-iframe {
  display: block;
  width: 100%;
  border: none;
}
.feedback-modal h3 {
  font-weight: normal;
  font-size: 16px;
}

.feedback-glass {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.feedback-header,
.feedback-body,
.feedback-footer {
  background: white;
  border: solid 1px #d8d0c7;
  padding: 12px;
}

.no-title .feedback-close {
  float: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.custom-modal .feedback-body,
.custom-modal .feedback-footer {
  border: none;
  background: none;
  padding: 0;
}
.custom-modal .feedback-header {
  background: white;
}

.feedback-body {
  border-top: none;
  border-bottom: none;
}
.feedback-modal.custom-modal .feedback-body,
.modal-iframe {
  height: 765px;
}

.feedback-header {
  border-bottom: 1px dotted #d8d0c7;
}
.feedback-footer {
  border-top: none;
}

.feedback-body label {
  font-size: 14px;
  text-transform: lowercase;
  margin: 0 0 10px;
  display: block;
  font-weight: normal;
}

.feedback-full-screen input[type=text],
#mantis-feedback-wrapper input[type=text],
#mantis-feedback-wrapper input[type=password],
.feedback-full-screen textarea,
.feedback-body input[type=text],
.feedback-body textarea {
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 12px;
  font-weight: normal;
  padding: 8px;
  vertical-align: middle;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  color: #555555;
  border: 1px solid #ccc;
  margin: 0 0 10px;
  box-shadow: none !important;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-item-issue-summary input[type=text] {
  border-color: #fff;
  margin: 0 20px 0 0;
}
#mantis-feedback-wrapper ::-webkit-input-placeholder,
body.feedback-full-screen ::-webkit-input-placeholder {
  color: silver;
  font-style: italic;
}
#mantis-feedback-wrapper ::-moz-placeholder,
body.feedback-full-screen ::-moz-placeholder {
  color: silver;
  font-style: italic;
}
#mantis-feedback-wrapper :-ms-input-placeholder,
body.feedback-full-screen :-ms-input-placeholder {
  color: silver;
  font-style: italic;
}
#mantis-feedback-wrapper input:-moz-placeholder,
body.feedback-full-screen input:-moz-placeholder {
  color: silver;
  font-style: italic;
}
#mantis-feedback-wrapper ::selection,
body.feedback-full-screen ::selection {
  background: #D7CFC6;
  color: white;
  text-shadow: none;
}
#mantis-feedback-wrapper fieldset,
body.feedback-full-screen fieldset {
  margin: 0 0 20px;
}
#mantis-feedback-wrapper fieldset legend,
body.feedback-full-screen fieldset legend {
  margin: 0 0 10px !important;
}
#mantis-feedback-wrapper fieldset .fieldset-legend,
body.feedback-full-screen fieldset .fieldset-legend {
  font-size: 16px;
  font-weight: bold;
  display: block;
  position: relative;
}
.feedback-full-screen input[type=text]:focus,
.feedback-full-screen textarea:focus,
.feedback-body input[type=text]:focus,
.feedback-body textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
}
.feedback-full-screen textarea,
.feedback-body textarea {
  resize: vertical;
}
.feedback-btn,
.feedback-btn.form-submit,
#mantis-feedback-wrapper input[type=submit],
body.feedback-full-screen input[type=submit] {
  height: 32px;
  display: inline-block;
  padding: 4px 8px !important;
  margin: 0 10px 0 0;
  color: #464223;
  text-align: center;
  background: #f5f3f1;
  border: 1px solid #d7d0c8 !important;
  text-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  filter: inherit;
  text-transform: lowercase;
}
#mantis-feedback-login-form {
  padding: 10px;
  clear: left;
}
.expand-btn,
.history-btn {
  float: right;
  margin-bottom: 10px !important;
}
.expand-btn:after,
.history-btn:after {
  display: inline-block;
  text-align: center;
  content: '\25b8';
  width: 20px;
  padding-left: 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.expand-btn.expanded:after,
.history-btn.expanded:after {
  content: '\25be';
}
.feedback-full-screen input[type=submit],
.feedback-body input[type=submit] {
  margin-left: 0;
  text-transform: lowercase;
  float: right;
}
.feedback-footer .feedback-btn {
  margin-left: 0;
  text-transform: lowercase;
  float: right;
}
.feedback-btn.feedback-bottom-right {
  margin-right: 15px;
}

.feedback-animate-toside {
  margin-top: -250px;
}
#mantis-feedback-form-issue,
#mantis-feedback-form-notes {
  background-color: white;
  border: 1px solid #d7d0c8;
}
#mantis-feedback-form-notes {
  padding: 10px;
}
#mantis-feedback-form-issue {
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#mantis-feedback-form-notes {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  clear: both;
  margin-top: 20px;
}
#mantis-feedback-wrapper h2,
body.feedback-full-screen h2 {
  font-size: 18px;
  line-height: 18px;
  margin: 0 0 20px;
  color: rgb(57, 187, 212);
}
#mantis-feedback-form-notes h2 {
  float: left;
}
.title-textfield-shown #mantis-feedback-form-issue {
  border-top: 1px solid #d7d0c8;
}

.feedback-full-screen .note {
  border: 1px solid #d7d0c8;
  margin-top: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  clear: both;
}
.note .trigger {
  float: right;
}
.note .submitted {
  padding: 12px 15px;
}
.note.expanded .submitted {
  border-bottom: 1px dotted #d8d0c7;
}
.note .text {
  padding: 12px 15px;
  display: none;
  margin-top: -2px;
}
.note.expanded {
  display: block;
}
.note.expanded .text {
  display: block;
}
.button-placeholder {
  height: 23px;
}
.feedback-bottom-right {
  top: 112px;
  right: auto;
  left: 20px;
  bottom: auto;
  font-size: 14px;
  position: absolute;
}

#svg-opened {
  display: none;
}
.push-body-toleft #svg-bug {
  display: none;
}
.push-body-toleft #svg-opened {
  display: block;
}
#mantis-feedback-wrapper .messages ul,
body.feedback-full-screen .messages ul {
  padding: 0 0 0 20px;
}
#mantis-feedback-wrapper .messages.error,
body.feedback-full-screen .messages.error {
  background-image: none;
  background-color: rgba(214,40,34,0.07);
  border: 1px solid rgba(214,40,34,0.36);
  color: #d62822;
  text-align: left;
  padding: 10px;
  display: block;
  list-style-type: disc;
  margin: 0 0 15px;
}
#mantis-feedback-wrapper .description,
body.feedback-full-screen .description,
#mantis-feedback-wrapper .description em,
body.feedback-full-screen .description em {
  font-size: 11px;
  line-height: 13px;
  color: #d7d0c8;
  margin: 0 0 15px;
}
#mantis-feedback-project-info {
  padding: 10px;
}
#mantis-feedback-project-info h2 {
  color: #47421F;
  margin: 15px 0 0 0;
  font-size: 14px;
  font-weight: normal;
}
#mantis-feedback-user-data {
  float: left;
  margin: 0 10px 0 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid white 2px;
  height: 50px;
  width: 50px;
  position: relative;
  overflow: hidden;
}
#mantis-feedback-logo {
  height: 50px;
  width: 50px;
}
#mantis-feedback-logout-form {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, .5);
}
#mantis-feedback-logout-form:hover {
  opacity: 1;
}